/* -------------------------------------
CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules bellow)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {}

ol,
ul {
    list-style: none;
}

div {
    display: block;
    width: 100%;
}

h1,
h3,
p {
    text-align: center;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    /*text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);*/
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h1 {
    font-size: 60px;
    padding: 1.5em;
    font-style: oblique;
}

h3 {
    font-size: 30px;
}

p {
    margin-top: 5em;
    padding: 1em;
}


/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

.top-navigation {
    background-color: #FFD795;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
}

.top-navigation .content {
    padding: 0px 15px;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
}

.top-navigation .links {
    float: right;
    font-family: sans-serif;
    color: yellow;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
    display: inline;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 10px;
}

.top-navigation .links li a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.top-navigation .links li a:hover {
    font-size: 1.5em;
}


/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

.game_information {
    background-image: url("../site/images/flappy-bird-5.png");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50em;
    overflow: auto;
    opacity: 0.9;
}

.game_information .content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.game_images {
    background-color: #8594B2;
    overflow: hidden;
    padding-bottom: 3em;
    padding-top: 3em;
}

.game_images ul.images {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.game_images .images > li {
    width: 32%;
    display: inline-block;
    vertical-align: middle;
    height: 12rem;
    overflow: hidden;
}

.game_images .images > li img {
    width: 100%;
}

.game_images ul.images > li h5 {
    color: white;
}

.new_images {
    background-color: #8594B2;
    overflow: hidden;
    padding-bottom: 1em;
}

.new_images .content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.new_images ul.images {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.new_images .images > li {
    width: 98%;
    display: inline-block;
    height: 19rem;
    overflow: hidden;
}

.new_images .images > li picture {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.new-text {
    background-color: #8594B2;
    padding-bottom: 2.5em;
}

.new-text .content {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.new-text .image-pop {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.new-text .image-pop h4 {
    text-align: center;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    /*text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);*/
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.call_to_action {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.call_to_action button {
    width: 9.68rem;
    background-color: blue;
    border-color: green;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
    transition: background-color 0.25s ease;
    margin-left: auto;
    margin-right: auto;
}

.call_to_action button a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.call_to_action button a:hover {
    background-color: white;
    color: blue;
    font-size: 1.5rem;
}


/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

.social {
    background-color: #FFD795;
    overflow: auto;
    padding-bottom: 3rem;
    text-align: center;
}

hr {
    display: block;
    -webkit-margin-before: 0.5rem;
    -webkit-margin-after: 0.5rem;
}

.social h5 {
    display: block;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
}

.social .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 0.5rem 5px;
    border: 2px solid blue;
    padding: 0.635rem 0;
    text-align: center;
    cursor: pointer;
}

.fa-github-square:before {
    content: "\f092";
    color: blue;
}


/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles bellow this line
*/


/*change "color" to different values in body{} to see width-changes rendered on diff screen sizes*/


/*iPhone portrait*/

@media only screen and (min-width: 320px) {
    body {
        color: blue;
    }
    .game_images .images > li {
        height: 4rem;
    }
    h1 {
        font-size: 35px;
        padding: 2em;
    }
    h3 {
        font-size: 20px;
    }
    .game_information {
        background-image: url("../site/images/flappy-bird-5.png");
    }
}


/*iPhone landscape*/

@media only screen and (min-width: 480px) {
    body {
        color: blue;
    }
    .game_images .images > li {
        height: 5rem;
    }
    h1 {
        font-size: 43px;
    }
    h3 {
        font-size: 24px;
    }
    .game_information {
        background-image: url("../site/images/flappy-bird-5.png");
    }
}


/*ipad potrait*/

@media only screen and (min-width: 768px) {
    body {
        color: blue;
    }
    .game_images .images > li {
        height: 8rem;
    }
    h1 {
        font-size: 70px;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    h3 {
        font-size: 42px;
    }
    .game_information {
        background-image: url("../site/images/flappy-bird-small.jpg");
    }
}


/*ipad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {
    body {
        color: blue;
    }
    .game_images .images > li {
        height: 11rem;
    }
    h1 {
        font-size: 90px;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    h3 {
        font-size: 42px;
    }
    .game_information {
        background-image: url("../site/images/flappy-bird-medium.jpg");
    }
}
